
svg {
    position: absolute;
    top: 0;
    left: 0;
}


/* Style The Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    max-width: 50px;
    width: 100px;
    position: fixed;
    background: none;
    top: 30px;
    right: 40px;
    mix-blend-mode: difference;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: inline-block;
    right: 40px;
    top: 60px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    right: 40px;
    top: 60px;
    /* background-color: #34495e; capri */
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0.9;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #aa0000}*/
/* .dropdown-content a:hover {background-color: #004880} */
.dropdown-content a:hover {background-color: #b00000}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover, .dropdown:hover .dropbtn {
   /* background-color: #000000; */
   background: none;
}


/* ----- Browser Support ----- */


/* Display mix-blend-mode button for all browsers */
.light-svg {
    display: block;
}
.dark-svg {
    display: none;
}

/* Change button class (and SVG color) for IE and Edge only */
_:-ms-lang(x), .light-svg {
    display: none;
}
_:-ms-lang(x), .dark-svg {
    display: block;
}



/* ----- Unrelated ----- */

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
}

.overview {
    border-radius: 10px;
    max-width: 900px;
    padding: 20px;
}

.responsive_pic {
    width: 100%; 
    max-width: 150px;
    height: auto;
}


h1 {
    font-weight: 800;
    /*font-size: 2.5em;*/
    /*color: #b00000; */
    color: #FFFFFF;
    font-size:4vw;
}

h2 {
    font-weight: 900;
    font-size: 3vw;
    /* color: #34495e; capri */
    color: #b00000;
    padding: 0px 10px;
}

h3 {
    font-weight: 900;
    font-size: 2vw;
    color: #000000;
}

p { 
    max-width: 1000px;
    font-weight: 500;
    line-height: 2vw;
    font-size: 1.25vw;
}

a {
    color: #000;
    font-weight: 500;
/*    font-weight: bold;*/
    font-size: 1.25vw;	
}

a[role="button"] {
    background: #dd3b42;
    color: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 10px 0 0 -5px;
    display: inline-block;
}

.graytext {
   font-weight: 500;
   color: #111111;
   font-size: 1.25vw;
}

.rotatortext {
   font-size: 2vw; 
   color: #b00000; 
}

.highlight {
    background: rgba(217, 55, 10, 0.3);
    padding: 0px 5px;
 /*   margin: 0 -10px; */
    border-radius: 5px;
    font-weight: bold;
}

smalltext {
    background: rgba(217, 55, 10, 0.3);
    padding: 0px 5px;
    font-size: 0.75vw;
}

.header {
    padding: 10px 40px;
    background-size: cover;
    margin: 0;
    min-height: 200px; 
    max-width: 100%;
	text-align: center;
    /* background: #34495e; */
    background: #ffffff;
    /* background: -webkit-linear-gradient(to bottom, #34495e, #34495e, #566b7f 90%);
    background: linear-gradient(to bottom, #34495e,  #34495e, #566b7f  90%); */
}

/* The navbar container */
.topnav {
  overflow: hidden;
/*  background-color: #850000; */
  /*background-color: #004880;*/
  /* background-color: #34495e; capri */
  background-color: #000000;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #ffffff; /* 004880; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #b00000;
  color: #eee;
}

.container {
    overflow: hidden;
}

.columnThinL {
  float: left;
  width: 160px;
  left: 0; 
}

.columnThinR {
  float: right;	
  width: 160px;	
  right: 0;  
}

.columnFlex {
/* The margin makes sure that the .middle won't be "line-wrapped" below .left and .right, in case the container isn't large enough */
  margin: 0 200px;
  padding-top: 0px; 
  padding-bottom: 0px; 
/*  max-width: 80%; */
}

.columnThird {
  float: left;
  width: 30%;
  padding: 10px;
}

.columnHalf {
  float: left;
  width: 45%;
  padding: 10px;
}	
	
/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/

/* Style the footer */
.footer {
    background: #20123e;
    background: -webkit-linear-gradient(to bottom, #ffffff, #000000 100%);
    background: linear-gradient(to bottom, #ffffff, #000000 100%); 
	padding: 10px;
/*  	text-align: center;*/
}


/* ----------- accordion ------------- */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 2vw;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.25vw;
  transition: 0.4s;
  position: relative;
  left: 20px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  font-size: 1.25vw;	
  float: right;
  margin-left: 20px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 25px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
/*  position: fixed;
  left: 30px; */
  width: 100%;  
}


{
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #aa0000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #bb0000;
}

/* Style the container/contact section */
.contactcontainer {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.contactcolumn {
  float: center;
  width: 50%;
  margin-top: 0px;
  padding: 20px;
}

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/

@media screen and (max-width: 1200px) {
  .graytext {
    font-size: 14px;
    line-height: 21px;
  }	
  .rotatortext {
    font-size: 21px; 	
  }
  p {
    font-size: 14px;
    line-height: 21px;
  }	
  a {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }	
  .columnThinL {
    width: 0%;	  
    float: center;	
  }
  .columnThinR {
    width: 100%;	  
    float: center;	
  }	
  .columnFlex {
    margin: 0 20px;
  }
  .columnThird {
    width: 100%;
    float: center;
  }
  .columnHalf {
    width: 100%;
    float: center;
  }	
	
  .accordion {
  	font-size: 14px;
  }
  .accordion:after {
  	font-size: 14px;	
  }
	
}


